
*{
    overflow: auto;
}

body{
    background-color: #8BA1BB;
    font-family: Arial;
}

p.categorie{
    background-color: black; 
    color: white;
    display: inline-block;
    padding: 8px 18px;
    margin-top: -18px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
}
div.categorie{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}



div.contenu{
    background-color: white;
    margin:60px 10% 80px 10%;
    padding: 0px 30px 30px 30px;
    min-width: 350px;
    box-shadow:0px 0px 8px 8px rgba(0, 0, 0, 0.2);
    overflow: visible;
}

h1{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 12px;
}

p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
div.description{
    text-align: center;

}

div.separateur{
    background-color: black;
    height: 1px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.image{             
    width: 100%;
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color:lightgray;
}

.centre{
    text-align: center;
}

table.info{
    position:absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 80px;
}
div.info{
    position: relative;
}
table.info td{
    text-align: center;
    font-size: 13px;
    vertical-align: top;
}
table.info th{
    text-align: center;
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 6px;
}

div.colonne1, div.colonne2{
    width: 45%;
    margin-top: 20px;

}

.colonne1{
    display: inline-block;
    
}

.colonne2{
    float: right;
   
}

h2.titre{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;
    padding-bottom: 5px;
}


.ingredient p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    padding: 8px 0 ;
}

.preparation p.numero{
    background-color: #6C829D;
    color: white;
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    margin: 0px;
    border-radius: 50%;
      
}

.preparation tr{
    height: 50px;
}
.preparation td{
    vertical-align: top; 
}

.prepa{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
   
}

